!!!
%html
  = render 'layouts/head'

  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{href: '/'}
            %strong
              Interactive Thesaurus
          - style = 'display: none'
          = image_tag 'loading.gif', id: 'loading', style: style
          %em.medium-font.pull-right
            A meaningful word store that shows sense
    .row-fluid
      .span2
        = render 'editor_link'
        #selected-panel
          = render "selected"
      .span10
        #content
          = yield

